# Mac Autofile
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# plots and tables						
hyp_2_b_means_plot.png
hyp_3_a_means_plot.png
hyp_3_b_means_plot.png
num_outcomes_corr_table.doc
obf_subcomponents_corr_table.doc
abs_subcomponents_corr_table.doc

# Datasets
post_analysis_study_dataset.csv
post_followup_analyses_study_dataset.csv
clean_study_data.csv

# References
references.yaml
apa.csl

# R project file
thesis_data_analysis.Rproj

# More plots and graphs
follow_up_sm_means_plot.png
hyp_1_a_means_plot.png
hyp_1_b_means_plot.png
hyp_1b_resized.png
hyp_2_a_means_plot.png

